.legend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 47px;
  margin: 10px 0 0 94px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legend-color {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}

.legend-label {
  font-size: 10px;
  color: #898290;
  font-weight: 400;
  white-space: nowrap;
}
