body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;

  background-color: #fff;
}

.app {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0 15px;
  box-sizing: border-box;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

h1 {
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 21px;
  font-size: 16px;
  color: #898290;
  margin: 23px 0 12px 23px;
}
