.columns-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin: 120px 0 0 52px;
  width: 500px;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 60px;
  margin-top: 0;
}

.columns__lines {
  position: absolute;
  top: -80px;
  left: 0px;
  width: 500px;
  pointer-events: none;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}

.column__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-bottom: 0px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0px;
}

.colums__diff {
  position: absolute;
  top: -83px;
  left: 110px;
  padding: 2px 7px;
  background-color: #fc440f;
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  transform: translateX(-50%);
  box-sizing: border-box;
  min-width: 48px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.colums__diff--green {
  background-color: #00cc99;
}

.colums__diff--second {
  left: 250px;
}

.colums__arrow {
  width: 9px;

  object-fit: contain;
  margin-right: 3px;
}

.colums__arrow--rotated {
  transform: rotate(180deg);
}

.column__bar--front {
  background-color: #4ab6e8;
}

.column__bar--back {
  background-color: #aa6fac;
}

.column__bar--db {
  background-color: #e85498;
}

.column__bar--norm {
  background: repeating-linear-gradient(135deg, #4ab6e8, #4ab6e8 10px, #fff 10px, #fff 19px);
}

.column__value {
  margin: 0;
  padding: 2px;
}

.column__info-message {
  margin-left: 200px;
  color: #898290;
}

.column__value--norm {
  padding: 5px 11px;
  color: #898290;
  background-color: #fff;
  border-radius: 5px;
}

.column__label {
  margin: 15px 0 5px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #898290;
  font-weight: 400;
}

.column__below-label {
  height: 35px;
  margin-top: 0px;
  font-size: 8px;
  color: #898290;
  text-align: start;
  line-height: 1.4;
}
